.App {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  z-index: 10;
  overflow: auto;
}

.home-wrapper {
  background-color: black;
}

.home {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 8em;
  color: whitesmoke;
}

.signup {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

.signup form {
  padding: 5rem;
}

.signup input {
  height: 60px;
  width: 280px;
  background-color: black;
  transition: 0.3s;
  border: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: black;
}

.signup input:hover {
  background-color: whitesmoke;
}

.signup button {
  border: none;
  text-decoration: none;
  background-color: black;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 100;
  transition: 0.3s;
  /* transition not working, fix  */
}

.create-account {
  display: none;
}

.signup button:hover .waiting {
  display: none;
}

.signup button:hover .create-account {
  display: inline;
  cursor: pointer;
  color: whitesmoke;
}


.signup header {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  color: whitesmoke;
  font-weight: 100;
  padding-bottom: 1rem;
}

.signup a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: whitesmoke;
  font-weight: 200;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}

.home button {
  background-color: black;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 52px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  transition: 0.3s;
}

.home button:hover {
  background-color: whitesmoke;
  color: black;
}

.note {
  color: white;
}

.navbar {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

.navbar button {
  background-color: black;
  border: none;
  color: whitesmoke;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: whitesmoke;
  color: black;
}

.note-preview {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 26px;
  text-align: center;
  /* padding-left: 5rem; */
  margin: 0px;
  color: whitesmoke;
  cursor: pointer;
  /* max-width: 50%; */
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  width: 14em;
}

.note-preview:hover {
  background-color: whitesmoke;
  color: black;
}

#quill {
  color: white;
}

